@font-face {
  font-family: 'Inter Bold';
  src: url('fonts/Inter-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Inter Regular';
  src: url('fonts/Inter-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter Regular';
    height: max-content;
    width: max-content;
}

#step-1, #step-2, #confirmation-box {
    display: none;
}

#confirmation-box {
    text-align: center;
    min-height: 350px;
    width: max-content;
}

#mobile-step-1, #mobile-step-2, #mobile-confirmation-box {
    width: 90%;
    border: 0;
    text-align: center;
}

#mobile-step-2, #mobile-confirmation-box {
    display: none;
}

.hidden {
    display: none;
}

.hover-tool {
    width: max-content;
    position: fixed; 
    bottom: 10%; 
    right: 2%;
    z-index: 1000;
}

.tool-form {
    padding: 5px;
}

.tool-box {
    padding: 10px;
    background-color: white;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 20px 20px 0;
    line-height: 1.35;            
}

.bubble-msg {
    width: 300px;
    min-height: 40px;
    font-size: 0.9rem;
}

.bubble-txt {
    display: inline-block;
}

.close-bubble {
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
    font-family: 'Inter Bold';
    user-select: none;
    font-size: 15px;
}

.tool-img {
    height: 50px;
    width: 50px;
    float: right;
    margin-right: 2.5px;
    cursor: pointer;
}

.step-box {
    padding: 15px;
    width: 300px;
    height: max-content;
}

.step-heading {
    color: #FF5757;
    font-family: "Inter Bold";
    font-size: 13px;
    margin-top: 0px;
}

.step-ques {
    font-family: "Inter Bold";
    font-size: 15px;
    color: #222;
}

.ques-label {
    font-size: 12px;
    margin: 8px auto;
    display: block;
    
}

.ques-input {
    width: 90%;
    border: 2px solid #ccc;
    border-radius: 8px;
    height: 25px;
    background-color: #f9f9f9;
    margin: 8px 0;
    display: block;
    padding: 0 8px;
    caret-color: #FF5757;
    color: #FF5757;
    outline: none;
}

.ques-input:focus {
    border-color: #FF5757;
    transition: .5s;
}

.mobile .ques-input {
    margin: 8px auto;
    height: 30px;
}

.tool-btn {
    background-color: #FF5757;
    color: white;
    font-family: 'Inter Bold';
    padding: 7px 15px;
    width: 95%;
    height: 30px;
    border-radius: 8px;
    border: none;
    margin-bottom: 50px;
    cursor: pointer;
}

.close-box {
    color: blue;
    text-decoration: underline;
    font-size: 13px;
    cursor: pointer;
}

.powered-by-text {
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    margin: 0px;
    font-family: "Inter Bold";
}

.cs_logo {
    width: 100px;
    height: 25px;
}

.mobile {
    display: none;
    width: 100%;
    height: 5%;
    min-height: 45px;
    max-height: 55px;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 15px 15px 0 0;
    background-color: white;
}

.preview-text {
    margin-top : 8px;
}

.bar {
    width: 50%;
    height: 4px;
    background-color: #222;
    border-radius: 100px;
    right: 0;
    left: 0;
    margin: 20px auto;
}

.extra-touch-area {
    height: 10px;
    width: 100%;
}

.full-view {
    height: 100%;
    width: 100%;
    display: none;
    overflow: auto;
}

.mobile label {
    font-size: 16px;
    font-family: "Inter Regular";
}

.mobile input, .mobile button {
    max-width: 500px;
}

@media screen and (max-device-width: 500px) {
    html, body {
        overscroll-behavior-y: contain;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}

.preview-tool-btn {
    background-color: #FF5757;
    color: white;
    font-family: 'Inter Bold';
    padding: 7px 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 25px;
    cursor: pointer;
}