@font-face {
  font-family: 'Inter Bold';
  src: url('fonts/Inter-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Inter Regular';
  src: url('fonts/Inter-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
.clear {
    clear: left;
}
body {
    background-color: #FF5757;
}
#main {
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    width: 70%;
}
#main .generator {
    margin: 0 auto;
    width: 97.5%;
    color: white;
    font-family: 'Inter Bold';
    text-align: center;
}
#button-preview-iframe {
    display: inline-block;
    margin-top: 100px;
    margin-right: -100px;
    max-width: 250px;
    pointer-events: none;
}
h2 {
    font-size: 35px;
    margin-bottom: 5px;
    margin-top: 15px;
}
.desc {
    font-size: 20px;
    font-family: 'Inter Regular';
}
.generate, .code {
    height: max-content;
    margin-top: 40px;
}
.code {
    margin: 40px auto;
    margin-bottom: 40px;
    height: max-content;
    width: 60% !important;
    display: none;
}
.copycode {
    text-align: left;
    min-width: 300px;
}
.live-preview {
    text-align: center;
    margin-left: -10px;
    margin-top: -15px;
    position: relative;
}
.live-preview > h3 {
    margin-bottom: 0;
    width: 300px;
}
.fa-info-circle {
    font-size: 11px;
    position: relative;
    top: -8px;
}
input[type="text"], textarea[aria-label="ques"] {
    height: 35px;
    width: 330px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #646464;
    caret-color: #FF5757;
    font-family: 'Inter Regular';
    padding: 0px 7px 0px 7px;
    margin-top: 10px;
    color: #FF5757;
    font-weight: 900;
    letter-spacing: 2px;
}
textarea {
    width: 430px;
    padding: 10px;
    border: 2px solid #646464;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    resize: vertical;
    padding: 0px 7px 0px 7px;
}
input[type="textarea"]:focus, input[type="text"]:focus, textarea[aria-label="ques"]:focus {
    border-color: #FF5757;
    transition: .5s;
}
input[aria-label="ques"], textarea[aria-label="ques"], .copy-code {
    border-radius: 15px 3px 3px;
}
.copycode input, .copycode textarea {
    width: 90%;
}
.code textarea[aria-label="ques"] {
    height: initial;
    padding: 7px;
}
.sub-input {
    height: 30px !important;
    width: 75% !important;
    display: block;
    margin-bottom: 10px;
    border-radius: 15px 3px 3px !important;
}
.button_theme_select {
    display: block;
    height: 35px !important;
    width: 82% !important;
    margin-bottom: 10px;
    border: 2px solid #646464;
    border-radius: 15px 3px 3px !important;
    outline: none;
    padding: 0 7px;
    font-family: inherit;
}
.button_theme_select * {
    background-color: white;
    color: rgb(255, 87, 87);
    font-size: 15px;
}
.code .final-gen-btn, .code .cpy-btn {
    height: 30px;
    max-width: max-content;
    padding: 0 30px;
    margin-top: 0;
    font-weight: initial;
    font-size: 15px;
    float: left;
}
.code .cpy-btn {
    float: right;
    margin-right: 20px;
}
label {
    padding: 5px;
}
label[for="ques"] {
    text-align: left;
    display: block;
    padding-bottom: 0;
}
.gen-btn, .cpy-btn, .final-gen-btn {
    height: 35px;
    border-radius: 5px;
    border: 0px;
    outline: 0;
    margin-top: 21px;
    background-color: #ff5757;
    cursor: pointer;
    color: white;
    font-weight: 900;
    font-family: 'Inter Bold';
    transition: .5s;
    padding: 0px 20px;
}
.sharecode, .code {
    background: white;
    width: max-content;
    padding: 20px 50px;
    color: #6c6c6c;
    border-radius: 10px;
}
.sharecode {
    width: fit-content;
    margin: 0 auto;
    margin-top: 5px;
}
.info {
    text-align: center;
    font-family: 'Inter Regular';
    font-size: 8px;
    margin-top: 5px;
    color: rgba(0, 0, 0, .7);
}
.code-cont {
    background: #d2d2d2;
    width: max-content;
    padding: 10px 10px;
    color: #6c6c6c;
    border-radius: 10px;
}
.code-cont input[type="text"]:disabled {
    outline: none;
    padding: 0px 10px;
    height: 32px;
    border: 0px;
    border-radius: 5px;
    width: 230px;
    margin-right: 5px;
    font-family: 'Inter Regular';
    letter-spacing: 1px;
    font-weight: 600;
    background: white;
    color: black;
    margin-top: 0px;
    text-align: left;
}
.code-cont .share-btn {
    height: 32px;
    padding: 0px 20px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0px;
    outline: none;
    font-family: 'Inter Bold';
    color: black;
    background: white;
    font-size: 15px;
}
.preview h4 {
    text-align: left;
}
.final-output {
    display: none;
}
.bottom-info {
    width: 80%;
    margin-top: 3rem;
    font-size: 0.75rem;
    font-family: 'Inter Regular';
}
.branding-info {
    display: flex;
    align-items: center;
}
.italic-info {
    font-size: 200%;
    margin-right: 10px;
    color: black;
}
.hidden {
    display: none
}

/* Live Preview Styles below (copied html/css from tool html stylised for this page) */

.bubble-preview {
    width: 100%;
}
.ques-preview {
    display: flex;
    align-items: center;
    justify-content: center;
}
.live-preview input, .live-preview textarea {
    width: 90%;
}
.preview-tool-box {
    padding: 15px 15px 5px;
    background-color: white;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 20px 20px 0;
    line-height: 1.35;            
}

/* For bubble msg */

.preview-bubble-msg {
    width: 100%;
    max-width: 300px;
    min-height: 50px;
    padding: 15px 15px 10px;
    font-size: 0.9rem;
    text-align: left;
    font-family: "Inter Regular";
    transform: scale(0.75);
    word-break: break-all;
}
.preview-bubble-txt {
    display: inline-block;
    margin: 0 0 0 0;
}
.preview-close-bubble {
    position: absolute;
    top: 3%;
    right: 3%;
    cursor: pointer;
    font-family: 'Inter Bold';
    user-select: none;
    font-size: 15px;
}
.preview-tool-img {
    height: 50px;
    width: 50px;
    float: right ;
    cursor: pointer;
    transform: scale(0.75);
}

/* For steps box */

.preview-step-box {
    padding: 15px 15px 30px;
    height: max-content;
    width: 220px;
    transform: scale(0.75);
    margin-right: -30px;
    pointer-events: none;
    text-align: left;
    word-break: break-all;
}
.preview-step-heading {
    color: #FF5757;
    font-family: "Inter Bold";
    font-size: 12px;
    margin-top: 0;
    text-align: center;
}
.preview-step-ques {
    font-family: "Inter Bold";
    font-size: 16px;
    color: #222;
}
.preview-ques-label {
    font-size: 15px;
    margin: 8px auto;
    display: block;
    
}
.preview-ques-input {
    width: 90%;
    border: 1px solid #ccc !important;
    border-radius: 8px !important;
    height: 25px !important;
    background-color: #f9f9f9;
    margin: 8px 0;
    display: block;
}
.preview-tool-btn {
    background-color: #FF5757;
    color: white;
    font-family: 'Inter Bold';
    padding: 7px 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 50px;
    cursor: pointer;
}